.section-one{
  height: 100vh;
  width: 100%;
  background-image: url("../images/section-one-bg-sm.jpg");
  background-position: top;
  background-size: cover;
}

.footer-large{
  display: none;
}

.footer-small{
  padding: 5%;
}

.my-footer-toggle{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333; 
  font-size: 30px;
}

.large-footer-buttons{
  color: rgb(51, 51, 51);
  
}

.footer-collapse-item{
  padding-top: 5px;
  font-size: 25px;
}

.large-footer-social-media{
  display: flex;
}

.footer-copyright{
  background-color: black;
  position: relative;
  padding: 3.51852vw 5.55556vw;
  font-size: 3.51852vw;
  color: #999;
  text-align: center;
}